@font-face {
    font-family: Jost;
    src: url("../src/assets/fonts/Jost-Regular.ttf");
    
}
@font-face {
    font-family: KronaOne;
    src: url("../src/assets/fonts/KronaOne-Regular.ttf")
}

@font-face {
    font-family: bangers;
    src: url("../src/assets/fonts/Bangers-Regular.ttf");
}

@font-face {
    font-family: gfs;
    src: url("../src/assets/fonts/GFSNeohellenic-Regular.ttf");
}

@font-face {
    font-family:francois;
    src: url("../src/assets/fonts/FrancoisOne-Regular.ttf");
}





@import "tailwindcss";



html::-webkit-scrollbar {
  display: none;
}




@theme{
    --font-jost: Jost , "sans-serif"
    
}

@theme{
    --font-kronaone : KronaOne , "sans-serif"
}






#aboutstroke{
    -webkit-text-stroke: 1px white
}